<div class="container" style="background-color: rgb(75, 72, 72);">

  <div class="container, text-center" style="background-color: rgb(216, 251, 120); padding: auto;">
    <h1>
    API Call for User IP (under development)
  </h1>
</div>
<!--below is the slider-->
<!--<mat-slider min="1" max="100" step="1" value="50"></mat-slider>-->

<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">Home Page</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="/departments" routerLinkActive="active">Your Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/employees" routerLinkActive="active">Shailesh's Portfolio</a>
  </li>
</ul> -->
<br><br>
  <div class="example-button-row" class="text-center">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon" routerLink="/" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>&nbsp;&nbsp;
    <button mat-raised-button color="primary" routerLink="/departments" routerLinkActive="active">Your Information</button>&nbsp;&nbsp;
    <button mat-raised-button color="accent" routerLink="/employees" routerLinkActive="active">Some Material UI Components</button>&nbsp;&nbsp;
    <!--<button mat-raised-button color="warn">Not in use</button>
    <button mat-raised-button disabled>Not in use</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>-->
  </div>
<br><br>
<router-outlet></router-outlet>
</div>